#leader,
#toolbar,
#nav,
#footer,
#comments,
div.related-section.wide,
div.mpuAd,
#lowleader,
#anticipation,
#extra,
.related-game-blocks,
.related-game-title,
#newFooter,
p.aPager,
#top-tabs,
#egLogo,
#blankLogo,
#search,
#login,
.contents,
.s-hidden,
.expo,
img,
div.discussion,
p.list,
#viewer,
#newFooter ul,
#banner,
#toolBar
{
	display: none;
}

body,
#theTop
{
	background-image: none;
}

h1
{
	font-family: Georgia;
}

p,
ul,
h2,
h3
{
	font-family: Arial;
}

