/* ---- Reset ------------------------------------ */

body,div,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

fieldset,img,a {
	border:0;
}

ol,ul {
	list-style:none;
}

strong
{
	font-weight: bold;
}

h1,h2,h3,h4,h5
{
	font-weight:bold;
	font-size: inherit;
}

#content a.comment-count,
#content a.comment-count:visited
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/comments.png);
	background-repeat: no-repeat;
	background-position: 0 1px;
	background-color: transparent;
	color: #96b618 !important;
	padding-left: 16px;
	font-weight: normal;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}

/* ---- End reset -------------------------------- */

#browserMaster
{
	clear: both;
	width: 100%;
}

body
{
	font-family: "Proxima", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#page
{
	background-color: white;
}

img
{
	border: 0;
}

a
{
	text-decoration: none;
	color: #0069ff;
	cursor: pointer;
}

a:hover{
	text-decoration:underline;
}

/* ---- Form styles ------------------------------ */

form input,
form textarea
{
	display: block;
	float: left;
	clear: left;
	border: 1px solid #bdbfbd;
	padding: 6px 6px;
	font-size: 12px;
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
	-webkit-background-clip: padding-box;
}

#content h1,
#content p.breadcrumb
{
	font-weight: bold;
	position: relative;
	display: block;
	clear: both;

	line-height: normal;

	margin: 0 -15px 15px;
	padding: 11px 10px 14px;
	background-color: #707070;
	color: white;
	font-weight: bold;
	border-top: 1px solid #727684;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	background: -moz-linear-gradient(top,  #616775,  #474950);
	background: -o-linear-gradient(top,  #616775,  #474950);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616775', endColorstr='#474950');
	z-index: 4;
}

#content h1 a,
#content p.breadcrumb a
{
	color: #5db1ec;
}

#content h1 span,
#content p.breadcrumb span
{
	color: #202020;
	opacity: 0.5;
	font-style: normal;
	text-shadow: 0px 1px 1px white;
}

#logo
{
	display: block;
	float: left;
}

#content
{
	position: relative;
	background-color: white;
}

.advert
{
	position: relative;
}

.mpu
{
	width: 300px;
	padding: 0px;
}

/* ---- navigation ------------------------------- */

#navigation
{
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

#navigation li
{
	margin: 0;
	padding: 0;
	float: left;
}

#navigation li a
{
	display: block;
	padding: 0;
	margin: 0;
	font-weight: bold;
	text-decoration: none;
}

/* ---- Sidebar ---------------------------------- */

#sidebar
{
	position: relative;
	z-index: 11;
	text-shadow: 0px 1px 0px white;
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/sidebar.png);
	background-position: top right;
	background-repeat: repeat-y;
	background-color: #eff1f7;
}

#sidebar,
#sidebar li,
#sidebar li ul,
#sidebar li ul li
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li
{
	clear: both;
}

#sidebar li strong
{
	display: block;
}


/* ---- Footer ----------------------------------- */

#footer
{
	position: relative;
	z-index: 11;
	clear: both;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	border-top: 1px solid #545454;
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer.png);
	box-shadow: 0 -5px 15px rgba(0,0,0,0.25);
	background-repeat: repeat-x;
	color: white;
}

#footer a
{
	color: #5db1ec;
}

#footer ul
{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	list-style: none;
	font-size: 11px;
	font-family: Verdana, sans-serif;
}

#footer ul li
{
	float: left;
	clear: none;
	margin: 10px 0px 0px 0px;
	padding: 0 30px;
}

#footer ul li:first-child
{
	border-left: 0;
	padding-left: 0;
}

#footer ul li:last-child
{
	border-left: 0;
	padding-right: 0;
}

#footer ul li ul
{
	width: auto;
	padding: 0;
	margin: 0 0 10px;
	clear: both;
	border-radius: 5px;
}

#footer ul li ul li
{
	width: auto;
	margin: 0;
	padding: 0;
	border: 0;
	height: auto;
	min-height: 0;
	min-width: 0;
}

#footer ul li strong
{
	clear: both;
	display: block;
	padding: 0 0 4px 0;
}

#footer ul li ul li a.on
{
	color: white;
}

#footer ul li.hosted-by
{
	padding: 6px 0 0;
}

#footer ul li.social img
{
	float: left;
	vertical-align: middle;
	margin-right: 4px;
}

#footer ul li.social a.twitter img
{
	margin-top: 4px;
}

#footer ul li.sites strong
{
	padding: 6px 6px 0 0;
}

#footer ul li.versions
{
	min-width: 0;
	float: left;
}

#footer ul li.versions ul.selector
{
	float: left;
	clear: both;
	width: auto;
}

#footer ul li.links a
{
	display: block;
	float: left;
	clear: none;
	margin: 5px 7px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}

#footer ul li.links a:first-child
{
	margin-left: 0;
}

#footer ul li a.rss
{
	float: left;
	background-color: #ff5e00;
	color: white;
	font-weight: bold;
	padding: 6px 7px 5px 7px;
}

#footer ul li a.footer-affiliate
{
	display: block;
	float: left;
}

#footer ul li:last-child strong,
#footer ul li:last-child ul
{
	float: left;
	clear: none;
}

#footer ul li:last-child ul li
{
	float: left;
	clear: none;
	padding: 1px 0 0 0;
	margin-left: 14px;
}

/* ---- Account box ------------------------------ */

#account
{
	position: relative;
	float: right;
	margin: 0;
	padding: 0;
	width: 300px;
	border: 0;
	text-align: left;
	z-index: 5;
}

#account img
{
	position: absolute;
	top: 10px;
	left: 5px;
	width: 60px;
	height: 60px;
	padding: 2px;
	border: none;
	background-color: white;
}

#account div.userinfo
{
	float: none;
	clear: left;
	margin: 8px 0 0 0;
	padding: 0;
	font-size: 14px;
	line-height: 14px;
	text-align: left;
	font-weight: bold;
}

#account div.userinfo,
#account ul
{
	margin-left: 75px;
	padding-left: 0;
}

#account ul
{
	display: none;
	position: absolute;
	top: 81px;
	right: 12px;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: white;
	padding: 7px 10px;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

#account ul li
{
	width: 100%;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
}

#account ul li a
{
	display: block;
	padding: 0 0 0 0;
	margin: 0 0 1px 0;
	font-size: 13px;
}

#account ul li form input[type=submit],
#account ul li form input[type=button]
{
	border: none;
	background-color: transparent;
	color: #0069ff;
	text-shadow: inherit;
	font-family: inherit;
	font-size: 13px;
	font-weight: inherit;
	float: left;
	clear: none;
	width: auto;
	padding: 1px 0 0;
	-webkit-font-smoothing: antialiased;
}

#account ul li form input[type=submit]:hover,
#account ul li form input[type=button]:hover,
#account div.userinfo form.logout#log-out input[type=submit]:hover
{
	text-decoration: underline;
}

#account div.userinfo form.logout#log-out {
	display: inline;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#account div.userinfo span.logout {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

#account div.userinfo form.logout#log-out input {
	border: none;
	color: #0069ff;
	background: transparent;
	background-image: none;
	text-shadow: none;
	float: none;
	clear: none;
	width: auto;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: inline;
	filter: none;
}

#account ul li:first-child img
{
	position: absolute;
	top: -10px;
	left: 45px;
	border: none;
	width: auto;
	height: auto;
	background-color: transparent;
}

#account div.userinfo a#username span
{
	display: block;
	clear: both;
	color: black;
	font-size: 11px;
	line-height: 14px;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	text-shadow: 0 1px 0px white;
}

#account div.userinfo a#username:hover
{
	text-decoration: none;
}

#account a.notifications,
#account a.options
{
	position: absolute;
	top: 53px;
	margin: 0;
	font-size: 11px;
	font-weight: normal;
	font-family: Verdana, san-serif;
	text-decoration: none;
	background-repeat: no-repeat;
}

#account a.options
{
	right: 10px;
	padding: 1px 0 4px 26px;
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Account/options.png);
	background-position: top left;
}

#account a.notifications
{
	left: 75px;
	padding: 1px 0 3px 26px;
	height: 22px;
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Account/notifications.png);
	background-repeat: no-repeat;
}

#account a.notifications span
{
	position: relative;
	z-index: 2;
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Account/notification-count.png);
	background-position: top left;
	background-repeat: no-repeat;
	display: block;
	float: left;
	width: 27px;
	padding: 1px 0px 3px 1px;
	text-align: center;
	color: white;
	font-size: 10px;
	font-weight: bold;
	margin: -1px 4px 0 -8px;
}

/* ---- Generic list ----------------------------- */

ul.list
{
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}

ul.list li
{
	position: relative;
	margin: 0;
	padding: 12px 0;
	border-bottom: 1px solid #f0f0f0;
}

ul.list li:last-child
{
	border-bottom: 0;
}

#content ul.list li h2,
#content ul.list li p
{
	margin: 0;
	padding: 0;
}

ul.list li h2
{
	margin-right: 114px;
	font-size: 14px;
}

#content ul.list li p
{
	color: #707070;
}

ul.list li p span.score
{
	position: absolute;
	top: 18px;
	right: 0;
	color: #c0c0c0;
}

ul.list li p span.score span
{
	font-weight: bold;
	color: black;
}

#content form h2
{
	margin: 0;
	padding: 5px 0 10px 0;
}

#content form ul.toolbar,
#content form ul.toolbar li
{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

#content form ul.toolbar li
{
	margin-bottom: 5px;
}

/* ---- Layout switcher -------------------------- */

#order
{
	border-top: 1px solid #d7d9de;
	margin: 15px 0 0;
	padding: 6px 0 0px;
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Home/order.png);
	color: #717379;
	font-size: 14px;
	height: 1px;
}

#order li
{
	margin: -15px 0 0 0;
	padding: 0 0 0 10px;
	float: right;
	background-color: white;
	line-height: 1.4em;
	font-size: 14px;
}

#order li ul,
#order li ul li
{
	margin: 0;
	padding: 0;
}

#order li ul li
{
	float: left;
}

#order li a
{
	display: block;
	float: left;
	margin: 0;
	padding: 0 5px;
	background-color: white;
	text-decoration: none;
}

#order li a.selected,
#order li a:hover
{
	color: #0069ff;
}

#order li a.selected
{
	color: #717379;
	font-weight: bold;
}

ul#inline-filter
{
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	height: 38px;
	margin: 5px 0 0;
	padding: 0;
	border-top: 1px solid #727684;
	list-style: none;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	background-image: -moz-linear-gradient(top, #616775, #474950);
	background-image: -o-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616775', endColorstr='#474950');
}

ul#inline-filter li
{
	position: relative;
	float: left;
	clear: none;
	margin: 0 5px 0 0;
	padding: 10px 15px;
	color: white;
}

ul#inline-filter li strong
{
	display: block;
	float: left;
	clear: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}

ul#inline-filter li div
{
	position: relative;
	float: left;
	clear: none;
	margin-left: 5px;
}

ul#inline-filter li a.selected
{
	display: block;
	background-color: #ebebeb;
	padding: 5px 5px 4px;
	margin: -4px 0 0 0;
	text-align: left;
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
	color: #000000;
	font-size: 13px;
}

ul#inline-filter li a.selected span
{
	background-color: white;
	color: #4b4c55;
	font-weight: bold;
	font-size: 11px;
	padding: 1px 5px;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}

ul#inline-filter li ul
{
	position: relative;
	visibility: hidden;
	display: block;
	margin: 5px 0 0 0;
	padding: 10px;
	left: 0;
	z-index: 2;
	list-style: none;
	background-color: white;
	box-shadow: 0 0 10px #e0e0e0;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}

ul#inline-filter li ul li
{
	float: none;
	clear: both;
	margin: 0;
	padding: 1px 0;
	font-size: 13px;
	color: #c0c0c0;
}

ul#inline-filter li ul li a
{
	color: #717379;
}

#content p.rss
{
	margin: 0;
	padding: 10px 0;
	float: left;
	width: 100%;
	border-top: 1px solid #eaeaea;
}

p.rss a
{
	display: block;
	float: right;
	background-color: orange;
	color: white;
	font-weight: bold;
	padding: 2px 6px;
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}

/* ---- Paging ----------------------------------- */

ul.paging
{
	float: left;
	clear: both;
	width: 100%;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.paging li
{
	margin: 0;
	padding: 15px 0;
	float: left;
}

ul.paging li:first-child
{
	width: 285px;
	padding-left: 15px;
	font-weight: bold;
}

ul.paging li:last-child
{
	float: right;
	padding-right: 15px;
}

ul.paging li:last-child a
{
	margin-left: 5px;
}

/* ---- Article sidebar -------------------------- */

ul#sidebar li.tools
{
	float: left;
	clear: both;
	width: 100%;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e6e7e6;
	padding: 10px 0 !important;
}

ul#sidebar li.tools strong
{
	padding-bottom: 4px;
}

ul#sidebar li.more-information
{
	float: left;
	clear: both;
	width: 100%;
	border-top: 1px solid #ffffff;
	padding-bottom: 15px;
}

ul#sidebar li.more-information:first-child
{
	border: 0;
	padding-top: 5px;
	padding-bottom: 0;
	margin-bottom: 0;
}

ul#sidebar li.more-information ul
{
	padding-top: 4px;
}

ul#sidebar li.more-information ul li
{
	list-style: disc;
	margin-left: 0;
	padding-bottom: 3px;
	list-style-position: inside;
}

ul#sidebar li h2
{
	margin: -5px 0 0 0;
	padding: 0 0 15px;
	text-shadow: 0 1px 1px white;
}

ul#sidebar li h2 span
{
	color: #808080;
}

#theTop div#smilies.popup
{
	position: absolute;
	display: none;
	width: 450px;
	padding: 10px;
	z-index: 1000;
}

#theTop div#smilies.popup ul
{
	margin: 0;
	padding: 5px 0 0 5px !important;
	width: auto;
	background-color: white;
	padding: 0;
	height: 150px;
	overflow-y: scroll;
	border-radius: 5px !important;

}

#theTop div#smilies.popup ul li
{
	float: left;
	clear: none;
	margin: 0 5px 5px 0 !important;
	padding: 0 !important;
	border: none;
}

#theTop div#smilies.popup ul li a.tool
{
	margin: 0 !important;
	width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.popup
{
	position: absolute;
	background-color: black;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
	padding: 10px;
	width: 300px;
	border: 1px solid #ececec;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	z-index: 6;
	display: none;
	top: 20px;
	text-align: left;
	border: 0 !important;
}

.popup img.pop-arrow {
	position: absolute;
	top: -15px;
	left: 10px;
}

div#smilies.popup img.pop-arrow {
	left: 415px;
}

#most-wanted.popup
{
	left: 15px;
}

#game-collection.popup
{
	left: 118px;
}

.popup h2,
.popup p.title
{
	font-weight: bold;
	color: white;
	margin: 0;
	padding: 0 0 10px 0;
	text-shadow: none !important;
	font-size: 15px;
}

.popup form,
.popup ul,
.popup div.confirmation
{
	display: block;
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
	padding: 10px 0;
	background-color: white;
	color: black;
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

.popup #reply-confirmation
{
	display: none;
}

.popup div.response
{
	padding: 0;
}

.popup #reply-confirmation p,
.popup div.response p
{
	margin: 0;
	padding: 0 0 5px 10px;
}

.popup #reply-confirmation a
{
	margin-left: 10px;
	padding: 5px 6px;
}

.popup ul
{
	padding: 10px 0 !important;
}

.popup ul li
{
	margin: 0 10px !important;
	padding: 6px 0 !important;
	border-bottom: 1px solid #eaeaea;
}

.popup ul li:first-child
{
	padding-top: 0 !important;
}

.popup ul li:last-child
{
	padding-bottom: 0 !important;
	border: 0;
}

.popup form fieldset
{
	display: block;
	clear: both;
	margin: 0 10px;
	padding: 8px 0 0;
	border: 0;
	border-top: 1px solid #f0f0f0;
}

.popup form fieldset input
{
	margin-left: 0;
}

.popup form legend
{
	font-weight: bold;
	margin: 0;
	padding: 0 0 10px 10px;
}

.popup form input,
.popup form label
{
	display: block;
	float: left;
	margin-bottom: 5px;
}

.popup form input
{
	clear: left;
	margin-left: 10px;
	margin-right: 7px;
}

.popup form input[type=submit],
.popup form a.button
{
	margin: 6px 0 0 10px;
	padding: 6px 8px;
	font-weight: bold;
	width: auto;
}

.popup form span
{
	display: block;
	float: left;
	padding: 10px 0 0 6px;
	font-family: Verdana, sans-serif;
	font-size: 11px;
}

#blanket
{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	opacity: 0.3;
	z-index: 4;
}

/* ---- Loading overlay -------------------------- */

#browserMaster p.loading
{
	position: absolute;
	margin: 0px auto;
	text-align: center;
	clear: both;
	background-color: #202020;
	opacity: 0.9;
	color: white;
	padding: 15px;
	text-align: center;
	font-weight: bold;
	border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
	z-index: 5;
}

#browserMaster p.loading img
{
	float: left;
	margin-right: 10px;
}

/* ---- Left nav selector ------------------------ */

ul.selector
{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	border: 1px solid #e3e5ea;
	float: left;
	clear: both;
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
	text-shadow: none;
	font-size: 14px;
	font-family: Proxima, sans-serif;
	box-shadow: 0px 1px 0px white;
}

ul.selector li a
{
	position: relative;
	display: block;
	background-color: white;
	padding: 11px 65px 11px 10px;
	border-top: 1px solid #e2e5ed;
	border-bottom: 1px solid #fcfcfc;
	color: #0069ff;
	font-weight: bold;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 10px 12px;
}

ul.selector li a:hover
{
	background-color: #a9abb1;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#a8acb6), to(#999ca4));
	background-image: -moz-linear-gradient(top, #a8acb6, #999ca4);
	background-image: -o-gradient(linear, center top, center bottom, from(#a8acb6), to(#999ca4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8acb6', endColorstr='#999ca4');
	background-position: 0 0;
	color: white;
	border-top: 1px solid #9b9da4;
	border-bottom: 1px solid #9b9da4;
}

ul.selector li a.button
{
	float: none;
	width: 100%;
	background-color: #0069ff;
	color: white;
	border: inherit;
	padding: 10px 0 10px 10px;
	background-image: none;
	text-align: inherit;
}

ul.selector li a.on span
{
	color: white;
}

ul.selector li a span.count
{
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 11px;
	line-height: 11px;
	font-family: Verdana, sans-serif;
	padding: 3px 8px 5px 8px;
	border-radius: 9px; -webkit-border-radius: 9px; -moz-border-radius: 9px;
	text-shadow: 0 -1px 1px rgba(255,255,255,0.5);
	color: #4b4c55;
	font-weight: normal;
	border-top: 1px solid #d6d8de;
	background-color: #eef0f7;
}

ul.selector li a.on span.count,
ul.selector li a:hover span.count
{
	background-color: #ffffff;
	border-top: 1px solid #474951;
	color: #4b4c55;
}

ul.selector li a span.count.new
{
	border-top: 1px solid #809b14;
	background-color: #96b618;
	color: white;
	text-shadow: 0 -1px 1px rgba(128,155,20,0.5);
}

ul.selector li a.on
{
	background-color: #5b5e68;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	background-image: -moz-linear-gradient(top, #616775, #474950);
	background-image: -o-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616775', endColorstr='#474950');
	background-position: 0 0;
	color: white;
	border: 0;
}

ul.selector li:first-child a,
ul.selector li:first-child form
{
	border-radius: 8px 8px 0 0; -webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0;
	border-top: 0;
}

ul.selector li:last-child a
{
	border-radius: 0 0 8px 8px; -webkit-border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px;
}

ul.selector li:only-child a
{
	border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}

/* ---- Order selector --------------------------- */

ul#order-selector
{
	float: left;
	border: 1px solid #e0e0e0;
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

ul#order-selector li
{
	display: block;
	float: left;
	clear: none !important;
	width: auto !important;
}

ul#order-selector li:first-child a
{
	border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px;
}

ul#order-selector li:last-child a
{
	border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0;
	border-right: 0;
}

ul#order-selector li a
{
	display: block;
	float: left;
	background-color: #eaeaea;
	padding: 5px 7px;
	text-decoration: none;
	color: #808080;
	font-weight: bold;
	border-right: 1px solid #e0e0e0;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#eaeaea));
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -o-gradient(linear, center top, center bottom, from(#ffffff), to(#eaeaea));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea');
	text-shadow: 0 1px 1px white;
}

ul#order-selector li a:hover
{
	color: black;
}

ul#order-selector li a.on
{
	background-color: #0069ff;

	background-image: -webkit-gradient(linear, center top, center bottom, from(#0069ff), to(#207cff));
	background-image: -moz-linear-gradient(top, #0069ff, #207cff);
	background-image: -o-gradient(linear, center top, center bottom, from(#0069ff), to(#207cff));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069ff', endColorstr='#207cff');
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}


a.affiliate
{
	position: relative;
	display: block;
	width: 300px;
	height: 64px;
	margin: 10px 0 15px 0;
	padding: 0;
	background-repeat: no-repeat;
	background-color: white;
	color: white;
	text-shadow: none;
	font-weight: bold;
	cursor: hand;
	text-decoration: none;
	font-family: Proxima, sans-serif;
	font-size: 14px;
}

a.affiliate img
{
	position: absolute;
	top: -7px;
	left: 4px;
	width: 56px;
	height: 80px;
	border: 1px solid white;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

a.affiliate.zavvi
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Affiliates/zavvi.png);
}

a.affiliate.getgames
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Affiliates/getgames.png);
}

a.affiliate.onlive
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Affiliates/onlive.png);
}

a.affiliate.xzone
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Affiliates/xzone.png);
}

a.affiliate.billigespil
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Affiliates/billigespil.png);
}

a.affiliate.amazon
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Affiliates/amazon.png);
}

a.affiliate.amazon-de
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Affiliates/amazon-de.png);
}

a.affiliate.fnac
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/Affiliates/fnac.png);
	background-color: transparent;
}

a.affiliate span
{
	display: block;
	float: left;
	clear: both;
	margin: 10px 0 0 70px;
}

a.affiliate span.price
{
	margin: 2px 0 0 70px;
	font-size: 24px;
}

a.affiliate.fnac span {
	font-size: 16px;
	margin-top: 22px;
}

a.affiliate.fnac span.price
{
	display: none;
}


/* ---- Switcher --------------------------------- */

.switcher
{
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
	float: left;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	border: 1px solid #4a4a4a;
	border-top: 0;
}

.switcher li,
#footer ul li ul.switcher li:last-child
{
	float: left;
	clear: none;
	margin: 0;
	padding: 0;
}

.switcher li button
{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 11px;
}

.switcher li button:hover {
	cursor: pointer;
}

.switcher li span
{
	display: block;
	padding: 0 8px 8px 0;
}

.switcher li button
{
	border: none;
	display: block;
	float: left;
	margin: 0px;
	padding: 8px 10px 9px;
	color: white !important;
	background-color: #0069ff;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#2a8ef6), to(#016aff));
	background-image: -moz-linear-gradient(top, #2a8ef6, #016aff);
	background-image: -o-gradient(linear, center top, center bottom, from(#2a8ef6), to(#016aff));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#248af6', endColorstr='#016aff');
	text-shadow: 0 -1px 1px #14539d;
	border: none;
	border-right: 1px solid #6bb1f9;
	font-weight: normal;
	line-height: 1;
	border-top: 1px solid #6bb1f9;
}

.switcher li.first button
{
	border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px;
}

.switcher li.last button
{
	border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0;
	border-right: 0;
}

.switcher li button.on
{
	background-color: #313131;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#222222), to(#4a4a4a));
	background-image: -moz-linear-gradient(top, #222222, #4a4a4a);
	background-image: -o-gradient(linear, center top, center bottom, from(#222222), to(#4a4a4a));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#4a4a4a');
	font-weight: bold;
	text-shadow: 0px 0px 2px #202020;
	border-top: 1px solid #1a1a1a;
}

#content div.message,
#content p.message
{
	clear: both;
	padding: 15px;
	margin: 15px 0;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fdbe00), to(#fc9400));
	background: -moz-linear-gradient(top,  #fdbe00,  #fc9400);
	background: -o-linear-gradient(top,  #fdbe00,  #fc9400);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdbe00', endColorstr='#fc9400');
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: 0 -1px 0px rgba(0,0,0,0.25);
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

#comments li.comment div.message.ignored {
	background-image: none;
	background: #eff1f7;
	filter: none;
	border-top: 1px solid #d9dbe1;
	color: #868b97;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	font-weight: normal;
	margin: 0;
	padding: 10px 0;
	text-shadow: 0 1px 0px rgba(255,255,255,1);
}

#content div.message a,
#content p.message a
{
	color: #474950;
	text-shadow: 0 1px 0px rgba(255,255,255,0.5);
}

#content div.message p
{
	margin: 0;
	padding: 0;
}

span.strike
{
	text-decoration: line-through;
	color: #c0c0c0;
}

/* ---- Table style ------------------------------ */

#content table
{
	margin: 0 0 15px 0;
	padding: 0;
	border: 0;
	border-bottom: 0;
	width: 100%;
}

#content table thead th,
#content table tbody th,
#content table tbody td
{
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #e4e6eb;
	vertical-align: top;
}

#content table tbody tr:nth-child(even) th,
#content table tbody tr:nth-child(even) td
{
	background-color: #f7f8fb;
}


#content table thead th
{
	background-color: #707070;
	color: white;
	font-weight: bold;
	border-top: 1px solid #535761;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	background-image: -moz-linear-gradient(top, #616775, #474950);
	background-image: -o-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616775', endColorstr='#474950');
}

#content table tbody tr:last-child th,
#content table tbody tr:last-child td
{
	border-bottom: 0;
}

img.packshot
{
	box-shadow: 0.5px 1.5px 5px rgba(0,0,0,0.5);
}

img.packshot.empty
{
	opacity: 0.85;
}

#sidebar li.letters a
{
	display: block;
	float: left;
	clear: none;
	font-size: 14px;
	line-height: 14px;
	padding: 4px 6px;
	font-weight: bold;
	text-decoration: none;
}

#sidebar li.letters a:hover,
#sidebar li.letters a.on
{
	background-color: #535761;
	color: white;
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}

#sidebar li.letters a:hover
{
	background-color: #9da4b7;
}

/* ---- Language notifier ---------------------------------- */

.notifier
{
	position: relative;
	z-index: 14;
	clear: both;
	color: white;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.25);
	background-image: none;
	background-color: #474950;
	padding: 0 0 15px 0;
	clear: both;
	float: left;
	width: 100%;
	border-bottom: 2px solid #37393e;
	color: #f4f8ff;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	background: -moz-linear-gradient(top, #616775, #474950);
	background: -o-linear-gradient(top, #616775, #474950);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616775', endColorstr='#474950');
}

.notifier div
{
	position: relative;
	padding: 0;
	margin: 0 auto;
	text-shadow: none;
	text-align: left;
}

.notifier p
{
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 1.3;
	clear: none;
	float: none;
	padding: 15px 0 0;
	margin: 0;
}

.notifier p:first-child
{

}

.notifier p a:not(.tool)
{
	color: #5DB1EC;
	text-shadow: rgba(0, 0, 0, 0.496094);
	font-weight: bold;
}

.notifier p a.tool
{
	float: none;
	display: inline;
	margin-left: 10px;
	background-image: none;
	background-color: #303030;
	color: white;
	text-shadow: none;
	border: 1px solid #404040;
}

#language-notifier
{
	padding: 0;
	height: 0;
	overflow: hidden;
	border-bottom: 2px solid white;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	background-color: #55a7ff;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#90c5ff), to(#439dff));
	background: -moz-linear-gradient(top,  #90c5ff,  #439dff);
	background: -o-linear-gradient(top,  #90c5ff,  #439dff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90c5ff', endColorstr='#439dff');
}

#language-notifier div
{
	width: 1245px;
	margin: 0 auto;
}

#language-notifier div a
{
	color: white;
}

#language-notifier img.flag,
#language-notifier p
{
	float: left;

}

#language-notifier div p
{
	margin-top: 8px;
	margin-left: 10px;
}

#language-notifier div a.cancel
{
	display: block;
	float: left;
	margin-left: 10px;
	background-color: white;
	border-radius: 3px;
	color: #0069ff;
	padding: 0px 5px 2px;
	margin-top: 8px;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	background-color: #4587ce;
	border: 1px solid #93c7ff;
	line-height: 16px;
	color: white;
}

a.facebook-login
{
	background-color: #637bad;
	background-image: url(https://web.archive.orghttp://static.ak.fbcdn.net/rsrc.php/v1/yL/r/FGFbc80dUKj.png);
	background-position: -1px -164px;
	background-repeat: no-repeat;
	cursor: pointer;
	color: white;
	display: inline-block;
	float: none;
	border: 1px solid #29447e;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	margin: 0;
	padding: 5px 6px 4px 30px;
	text-decoration: none;
	border-radius: 2px;
}

a.facebook-login.large
{
	font-size: 13px;
}

/* ---- Notifications -------------------------------------- */

#notifications
{
	position: absolute;
	background-color: white;
	top: 83px;
	right: 10px;
	width: 290px;
	z-index: 6;
	margin: 0;
	padding: 10px 0 0 0;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	display: none;
}

#notifications p.init
{
	padding: 5px 0 15px;
	font-weight: bold;
	color: #c0c0c0;
}

#notifications img.arrow
{
	position: absolute;
	left: 77px;
	top: -10px;
}

#notifications ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#notifications ul li
{
	position: relative;
	margin: 0 10px;
	padding: 10px 0;
	min-height: 30px;
	clear: both;
	float: left;
	width: 270px;
	color: #202020;
	text-align: left;
	border-bottom: 1px solid #eff1f7;
}

#notifications ul li:last-child
{
	border-bottom: 0;
}

#notifications ul li.title
{
	min-height: 0;
	background-color: #545862;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	background-image: -moz-linear-gradient(top, #616775, #474950);
	background-image: -o-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616775', endColorstr='#474950');
	margin: 0;
	padding: 8px 10px 10px 10px;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	color: white;
	border: 0;
}

#notifications ul li.title span
{
	display: block;
	float: left;
	width: auto;
	background-color: white;
	padding: 1px 6px 2px 6px;
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
	box-shadow: 0px -1px 0px rgba(0,0,0,0.5);
	text-align: center;
	margin: 3px 5px 0 0;
	font-size: 10px;
	line-height: 10px;
	text-shadow: none;
	color: #4b4c55;
}

#notifications ul li.title a.tool.read
{
	position: absolute;
	width: auto;
	top: 7px;
	right: 7px;
	font-size: 10px;
	padding: 4px;
	height: auto;
	opacity: 0.5;
	text-align: center;
}

#notifications ul li.title a.tool.read:hover
{
	opacity: 1;
}

#notifications ul li.all
{
	min-height: 0;
	border-bottom: 0;
	padding: 0;
}

#notifications ul li.more
{
	min-height: 11px;
	border: 0;
	margin: -7px 0 10px 0;
	padding: 0 5px;
}

#notifications ul li.more a
{
	text-align: center;
}

#notifications ul li.more a span
{
	display: inline;
	margin: 0;
	padding: 0 10px;
	font-weight: bold;
	background-color: white;
	color: #0069ff;
	font-size: 11px;
}

#notifications ul li a
{
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	clear: both;
	font-weight: normal;
	text-align: left;
}

#notifications ul li a:hover
{
	text-decoration: none;
}

#notifications ul li a img
{
	position: absolute;
	float: left;
	clear: none;
	left: 0;
	top: 10px;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
}

#notifications ul li a span
{
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 13px;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	text-align: left;
	overflow: hidden;
	color: #404040;
}

#notifications ul li.user a span
{
	margin-left: 38px;
}

#notifications ul li a span.from
{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	font-family: Proxima, sans-serif;
	color: #202020;
}

#notifications ul li a span em
{
	display: inline;
	float: none;
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: bold;
	color: #0069ff;
	font-style: normal;
}

#notifications ul li.all
{
	margin: 0 0 10px;
	padding: 0 10px;
	text-align: center;
}

#notifications a.tool.all {
	margin: 0 10px 10px;
	clear: both;
	width: 270px;
	padding: 8px 0px;
	line-height: 1;
	text-align: center;

}

/* ---- Newsletter promo -------------------------------- */

body a.newsletter-promo
{
	position: relative;
	float: left;
	width: 100%;
	clear: both;
	margin: 10px 0 0;
	padding: 0;
	border-radius: 5px;
	color: black;
	font-weight: normal;
	text-decoration: none;
	background-color: white;
	border: 1px solid #e1e2e4;
	border-bottom: 1px solid #c2c3c5;
	font-size: 16px;
	line-height: 18px;
	text-shadow: none;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#f5f5f5));
	background: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background: -o-linear-gradient(top, #ffffff, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
}

body a.newsletter-promo img
{
	position: absolute;
	top: 13px;
	left: 10px;
	clear: none;
}

body a.newsletter-promo span
{
	display: block;
	margin: 10px 10px 10px 60px;
}

/* ---- Network-links -------------------------------------- */

#footer div.network-links
{
	clear: both;
	clear: both;
	width: 1245px;
	margin: 0 auto;
	padding: 0;
}

#footer div.network-links ul
{
	width: 1245px;
	margin: 0 0;
	padding: 0;
	border-top: 1px solid black;
}

#footer div.network-links ul li.site#eurogamer-links
{
	display: none;
}

#footer div.network-links ul li.site
{
	border-top: 1px solid #333333;
	float: left;
	width: 311px;
	margin: 0;
	padding: 10px 0 5px;

}

#footer div.network-links ul li.site h5
{
	font-weight: bold;
	font-size: 14px;
}

#footer div.network-links ul li.site h5 a
{
	color: white;
}

#footer div.network-links ul li.site ul,
#footer div.network-links ul li.site ul li
{
	width: auto;
	float: none;
	clear: both;
	border: none;
	margin: 0;
	padding: 0;
	list-style: disc;
}

#footer div.network-links ul li.site ul li
{
	margin: 2px 10px 0 15px;
	line-height: 1.6;
}

/* ---- Footer popup ----------------------------- */

#footer ul li ul#sites
{
	position: absolute;
	background-color: white;
	padding: 13px;
	top: -260px;
	margin-left: -9px;
	z-index: 5;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	display: none;
}

#footer ul li ul#sites li
{
	display: block;
	position: relative;
	float: left;
	clear: none;
	margin: 0;
	padding: 0;
}

#footer ul li ul#sites li:nth-of-type(2)
{
	border-left: 1px solid #e9ebef;
}

#footer ul li ul#sites li ul li
{
	clear: left;
}

#footer ul li ul#sites li ul li a
{
	display: block;
	color: #0082ff;
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding: 2px 20px 6px 21px;
	font-weight: bold;
	font-size: 11px;
	line-height: 11px;
	font-family: Verdana, sans-serif;
}

#footer ul li ul#sites li ul li a.be
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/be.png);
}

#footer ul li ul#sites li ul li a.cz
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/cz.png);
}

#footer ul li ul#sites li ul li a.de
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/de.png);
}

#footer ul li ul#sites li ul li a.dk
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/dk.png);
}

#footer ul li ul#sites li ul li a.es
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/es.png);
}

#footer ul li ul#sites li ul li a.fr
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/fr.png);
}

#footer ul li ul#sites li ul li a.it
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/it.png);
}

#footer ul li ul#sites li ul li a.net
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/net.png);
}

#footer ul li ul#sites li ul li a.nl
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/nl.png);
}

#footer ul li ul#sites li ul li a.pl
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/pl.png);
}

#footer ul li ul#sites li ul li a.pt
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/pt.png);
}

#footer ul li ul#sites li ul li a.se
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/se.png);
}

#footer ul li ul#sites li ul li a.br
{
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer-flags/br.png);
}

body #footer ul li a.tool.current-site
{
	margin-top: 2px;
	border: 1px solid black;
	padding-bottom: 6px;
	border: 1px solid #0d0d0d;
	border-bottom: 1px solid #3b3b3b;
	background-color: #0c0c0c;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#222222), to(#0a0a0a));
	background: -moz-linear-gradient(top,  #222222,  #0a0a0a);
	background: -o-linear-gradient(top,  #222222,  #0a0a0a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#0a0a0a');
	text-shadow: none !important;
}

body #footer ul li a.tool.current-site i.icon-caret-up:before
{
	color: white;
}

#footer ul li ul#sites li.arrow
{
	position: absolute;
	bottom: -15px;
	left: 11px;
	width: auto;
}

#footer ul li ul#sites li.arrow img
{
	margin: 0;
}

#footer ul li ul#sites li img
{
	display: block;
	float: none;
	clear: both;
}

/* ---- VGW Promo -------------------------------- */

.vgw-promo
{
	box-sizing: border-box;
	display: block;
	padding: 0.7em 1em;
	background-color: #1c1d22;
	border-radius: 4px;
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	text-align: center;
	text-decoration: none;
	margin: 0 0 15px;
	background: -webkit-gradient(linear, center top, center bottom, from(#21a2ea), to(#1878ad));
	background: -webkit-linear-gradient(#21a2ea, #1878ad);
}

.vgw-promo > em
{
	font-weight: bold;
	font-style: normal;
}

.vgw-promo:hover
{
	text-decoration: none;
	background: -webkit-gradient(linear, center top, center bottom, from(#1878ad), to(#11577e));
	background: -webkit-linear-gradient(#1878ad, #11577e);
}

/*
     FILE ARCHIVED ON 07:54:52 Jun 07, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:45:53 Aug 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.007
  exclusion.robots: 0.121
  captures_list: 67.9
  exclusion.robots.policy: 0.113
  load_resource: 141.797
  PetaboxLoader3.resolve: 98.695
  LoadShardBlock: 52.656 (3)
  RedisCDXSource: 0.444
  CDXLines.iter: 12.783 (3)
  PetaboxLoader3.datanode: 94.043 (4)
*/