#content div.content ul.list li.thread-header span.col1
{
	width: 157px;
}

#content div.content ul.list li.thread-header span.col1,
#content div.content ul.list li.thread span.col1
{
	width: 166px;
	padding-left: 26px;
}

#content div.content ul.list li.thread-header span.col2,
#content div.content ul.list li.thread span.col2
{
	width: 128px;
}

#content div.content ul.list li.thread-header span.col3,
#content div.content ul.list li.thread span.col3
{
	width: 198px;
}

#content div.content ul.list li.thread-header span.col4,
#content div.content ul.list li.thread span.col4
{
	width: 48px;
}
/*
     FILE ARCHIVED ON 07:54:53 Jun 07, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:45:53 Aug 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  load_resource: 125.706
  LoadShardBlock: 309.273 (3)
  exclusion.robots.policy: 0.17
  PetaboxLoader3.datanode: 262.281 (4)
  PetaboxLoader3.resolve: 55.275
  exclusion.robots: 0.184
  CDXLines.iter: 15.871 (3)
  esindex: 0.008
  RedisCDXSource: 3.105
  captures_list: 331.632
*/