#theTop #content ul.list li.pager
{
	position: relative;
	padding: 10px 0 8px;
	margin: 10px 0 0;
	width: 
	clear: both;
	background-color: #616775;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#616775), to(#474950));
	background: -moz-linear-gradient(top,  #616775,  #474950);
	background: -o-linear-gradient(top,  #616775,  #474950);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616775', endColorstr='#474950');)
	border: 1px solid #e6e7e6;
	border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0;
	color: white;
	font-size: 11px;
	font-family: Verdana, sans-serif;
}

#theTop #content ul.list li.pager.bottom
{
	margin: 0 0 10px;
	border-radius: 0 0 2px 2px; -webkit-border-radius: 0 0 2px 2px; -moz-border-radius: 0 0 2px 2px;
}

#theTop #content ul.list li.pager p
{
	float: left;
	margin: 0 0 0 10px;
	padding: 0;
	font-weight: bold;
	color: white;
	width: auto;
	font-size: 100%;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
}

#theTop #content ul.list li.pager p span
{
	display: block;
	float: left;
}

#theTop #content ul.list li.pager p strong
{
	color: black;
}

#theTop #content ul.list li.pager span.first-and-last
{
	display: inline;
	margin-left: 10px;
}

#theTop #content ul.list li.pager span.first-and-last a
{
	font-weight: bold;
	color: #68c2f6;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
}

#theTop #content ul.list li.pager div.buttons {
	position: absolute;
	top: 7px;
	right: 2px;
}

#theTop #content ul.list li.pager div.buttons .previous {
	border-radius: 4px 0px 0px 4px; -webkit-border-radius: 4px 0px 0px 4px; -moz-border-radius: 4px 0px 0px 4px;
	margin-right: 0px;
}

#theTop #content ul.list li.pager div.buttons .next {
	border-radius: 0px 4px 4px 0px; -webkit-border-radius: 0px 4px 4px 0px; -moz-border-radius: 0px 4px 4px 0px;
	border-left: none;
}

#theTop #content ul.list li.pager form
{
	margin: -2px 0 0 0;
	padding: 0 4px;
	float: left;
	display: inline;
	clear: none;
}

#theTop #content ul.list li.pager form select
{
	float: none;
	display: inline;
	clear: none;
	padding: 0;
}

/* ---- mobile pager ---------- */

#theTop #content ul.list li.pager.mobile .buttons {
	top: 0px;
	width: 100%;
}

#theTop #content ul.list li.pager.mobile
{
	position: relative;
	width: 100%;
	background-color: #616775;	
	border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0;
	border: 1px solid #616775;
	height: 37px;
	overflow: hidden;
	padding: 0 0 0 0;
	text-shadow: 0 -1px 1px black;
	color: white;
}

#theTop #content ul.list li.pager.mobile.bottom
{
	border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px;
}

#theTop #content ul.list li.pager.mobile span {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	float: none;
	text-align: center;
	font-size: 11px;
}

#theTop #content ul.list li.pager.mobile a {
	position: relative;
	color: white;
	display: block;
	float: left;
	padding: 10px;
	border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;
	z-index: 2;
}

#theTop #content ul.list li.pager.mobile a.first,
#theTop #content ul.list li.pager.mobile a.previous {
	float: left;
	border-right: 1px solid #727684;
	box-shadow: 1px 0px 0px #494d58;
}

#theTop #content ul.list li.pager.mobile a.next,
#theTop #content ul.list li.pager.mobile a.last {
	float: right;
	border-left: 1px solid #727684;
	box-shadow: -1px 0px 0px #494d58;
}















































/*
     FILE ARCHIVED ON 07:54:54 Jun 07, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:45:53 Aug 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 53.824 (4)
  RedisCDXSource: 1.776
  LoadShardBlock: 359.553 (3)
  PetaboxLoader3.resolve: 393.07 (2)
  exclusion.robots: 0.269
  captures_list: 385.677
  exclusion.robots.policy: 0.253
  load_resource: 89.867
  CDXLines.iter: 20.347 (3)
  esindex: 0.014
*/