div.viewer {
	text-align: center;
}
img.shotz {
	border: 5px solid #000000;
	margin: 20px;
}

.imgGallery {
	width: 85%;
	padding: 0px 5px; 
	padding-top: 2px;
	margin: 10px 43px;
}

.imgGallery img {
	margin-right: 2px;
	margin-bottom: 2px;
}
h2 {
	background-color: transparent;
}

/*
     FILE ARCHIVED ON 14:14:42 Aug 11, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:55:44 Aug 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.008
  exclusion.robots: 0.163
  captures_list: 86.098
  exclusion.robots.policy: 0.154
  load_resource: 758.682
  PetaboxLoader3.resolve: 704.819
  LoadShardBlock: 67.345 (3)
  RedisCDXSource: 4.445
  CDXLines.iter: 11.715 (3)
  PetaboxLoader3.datanode: 119.764 (4)
*/