.iTt{
	font-weight:       normal;
	color:             black;
	background-color:  lightyellow;
	border:            black 1px solid;
	padding:           2px 2px;
}

/*
     FILE ARCHIVED ON 09:58:33 Aug 11, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:55:44 Aug 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.237
  PetaboxLoader3.datanode: 188.876 (4)
  LoadShardBlock: 136.152 (3)
  exclusion.robots: 0.254
  load_resource: 172.974
  RedisCDXSource: 1.487
  captures_list: 161.91
  PetaboxLoader3.resolve: 50.004
  CDXLines.iter: 19.632 (3)
  esindex: 0.015
*/