/* platform main colour: #b342f5 */


.platformLeftRule {
	border-left: 1px solid #24d647;
}
.platformRightRule {
	border-right: 1px solid #24d647;
}
.platformTriangle {
	background-image: url( "/web/20040811145910im_/http://www.eurogamer.net/img/platforms/triangle_xbox.gif" );
	background-align: right;
}
.platformBG {
	border-top: 4px solid #24d647;
}
.writingGoesHere {
	padding-top:			4px;
}

a:link {
	color: #00a020;
}
a:visited {
	color: #00a020;
}
a:hover, a:active {
	color: #10c030;
}

.signPost {
	background-image: url( "signpost_xbox.gif" );
	width: 150px;
	height: 162px;
}

#whereAmI {
	border-bottom-color: #24d647;
}

/*
     FILE ARCHIVED ON 14:59:10 Aug 11, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:56:55 Aug 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.244
  esindex: 0.016
  PetaboxLoader3.resolve: 121.285
  RedisCDXSource: 8.162
  load_resource: 247.12
  exclusion.robots: 0.262
  LoadShardBlock: 192.942 (3)
  CDXLines.iter: 51.085 (3)
  PetaboxLoader3.datanode: 237.39 (4)
  captures_list: 257.075
*/