/* platform main colour: #b342f5 */


.platformLeftRule {
	border-left: 1px solid #24d647;
}
.platformRightRule {
	border-right: 1px solid #24d647;
}
.platformTriangle {
	background-image: url( "/web/20040811145910im_/http://www.eurogamer.net/img/platforms/triangle_xbox.gif" );
	background-align: right;
}
.platformBG {
	border-top: 4px solid #24d647;
}
.writingGoesHere {
	padding-top:			4px;
}

a:link {
	color: #00a020;
}
a:visited {
	color: #00a020;
}
a:hover, a:active {
	color: #10c030;
}

.signPost {
	background-image: url( "signpost_xbox.gif" );
	width: 150px;
	height: 162px;
}

#whereAmI {
	border-bottom-color: #24d647;
}

