#content form textarea
{
	margin: 0 0 5px 0;
}

/* ---- Low leaderboard -------------------------- */

#low-leaderboard
{
	position: relative;
	clear: both;
	width: 960px;
	padding: 15px 0;
	background-color: white;
	margin: 0;
	border-top: 5px solid #eff1f7;
	z-index: 4;
	text-align: center;
}

.low-leaderboard
{
	float: none;
	width: 728px;
	height: 90px;
	margin: 0 auto;
	text-align: center;
}

/* ---- Related stories -------------------------- */

#content div.related
{
	width: 600px;
	margin: 0 15px 15px;
}

#content div.related ul li
{
	width: 190px;
}
