#reply-box #comment-form
{
	float: right;
	width: 600px;
}

#reply-box .closed
{
	background-position-x: 180px;
	margin: 10px 0;
	padding-top: 10px;
	padding-left: 335px;
	width: 660px;
}

#comments
{
	width: 600px;
}

#comments > li.comment.verified
{
	width: 620px;
}
/*
     FILE ARCHIVED ON 13:01:34 Apr 06, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:36:58 Aug 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.013
  PetaboxLoader3.datanode: 66.922 (4)
  exclusion.robots: 0.183
  LoadShardBlock: 95.951 (3)
  CDXLines.iter: 16.181 (3)
  RedisCDXSource: 3.815
  captures_list: 120.394
  exclusion.robots.policy: 0.169
  PetaboxLoader3.resolve: 80.657 (2)
  load_resource: 61.145
*/