.hd #leaderboard {
    min-height: 160px;
	display: box;
	display: -webkit-box;
	box-align: center;
	-webkit-box-align: center;
}
/*
     FILE ARCHIVED ON 13:01:09 Apr 06, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:36:58 Aug 30, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.006
  exclusion.robots: 0.121
  captures_list: 64.652
  exclusion.robots.policy: 0.113
  load_resource: 249.043
  PetaboxLoader3.resolve: 224.929
  LoadShardBlock: 48.156 (3)
  RedisCDXSource: 1.818
  CDXLines.iter: 12.092 (3)
  PetaboxLoader3.datanode: 54.818 (4)
*/