.hd #leaderboard {
    min-height: 160px;
	display: box;
	display: -webkit-box;
	box-align: center;
	-webkit-box-align: center;
}
/*
     FILE ARCHIVED ON 23:06:24 Aug 20, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:08:49 Aug 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.011
  exclusion.robots: 0.211
  captures_list: 110.793
  exclusion.robots.policy: 0.197
  load_resource: 198.872
  PetaboxLoader3.resolve: 87.42 (2)
  LoadShardBlock: 92.937 (3)
  RedisCDXSource: 0.533
  CDXLines.iter: 13.901 (3)
  PetaboxLoader3.datanode: 132.497 (5)
*/