a.affiliate
{
	display: block;
	position: absolute;
	right: 280px;
	bottom: 4px;
	z-index: 3;
	width: auto;
	height: auto;
	width: 199px;
	height: 63px;
	background-repeat: no-repeat;
}

a.affiliate.zavvi
{
	bottom: 14px;
	background-image: url(/web/20110228022840im_/http://www.eurogamer.net/img/Affiliates/zavvi-large.png);
}

a.affiliate.zavvi.small
{
	top: 58px;
	height: 51px;
	background-image: url(/web/20110228022840im_/http://www.eurogamer.net/img/Affiliates/zavvi-small.png);
}

a.affiliate.getgames
{
	bottom: 14px;
	background-image: url(/web/20110228022840im_/http://www.eurogamer.net/img/Affiliates/getgames-large.png);
}

a.affiliate.getgames.small
{
	bottom: 4px;
	height: 35px;
	background-image: url(/web/20110228022840im_/http://www.eurogamer.net/img/Affiliates/getgames-small.png);
}

a.affiliate
{
	color: white;
	line-height: 1.5em;
	text-decoration: none;
}

a.affiliate span
{
	position: absolute;
	top: 14px;
	left: 19px;
	font-size: 90%;
	cursor: hand;
}

a.affiliate.zavvi.small span
{
	top: 7px;
}

a.affiliate.small span
{
	left: 15px;
}

a.affiliate.small span span
{
	left: 0px;
}

a.affiliate.zavvi.small span span
{
	top: 0px;
}

a.affiliate span span
{
	position: relative;
	top: 0px !important;
	left: 0px !important;
	display: block;
	clear: both;
	font-size: 200%;
}

a.affiliate.getgames.small span
{
	top: 6px;
	line-height: 1em;
}

a.affiliate.getgames.small span span
{
	top: 0px;
	font-size: 150%;
}

#facebook-like-button
{
        height: 24px;
}

