@font-face {
    font-family: 'Proxima';
    src: url('https://static.eurogamer.net/fonts/proxima/proximanova-reg-webfont.eot#iefix') format('embedded-opentype'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-reg-webfont.woff') format('woff'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-reg-webfont.ttf') format('truetype'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-reg-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('https://static.eurogamer.net/fonts/proxima/proximanova-sbold-webfont.eot#iefix') format('embedded-opentype'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-sbold-webfont.woff') format('woff'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-sbold-webfont.ttf') format('truetype'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-sbold-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('https://static.eurogamer.net/fonts/proxima/proximanova-bold-webfont.eot#iefix') format('embedded-opentype'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-bold-webfont.woff') format('woff'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-bold-webfont.ttf') format('truetype'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-bold-webfont.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima';
    src: url('https://static.eurogamer.net/fonts/proxima/proximanova-regit-webfont.eot#iefix') format('embedded-opentype'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-regit-webfont.woff') format('woff'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-regit-webfont.ttf') format('truetype'),
         url('https://static.eurogamer.net/fonts/proxima/proximanova-regit-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}

body
{
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/footer.png);
	font-family: Proxima, Arial, Verdana, sans-serif;
	min-width: 1260px;
}

h1,h2,h3,h4,h5
{
	font-family: Proxima, Arial, Verdana, sans-serif;
}

#page-wrapper
{
	float: left;
	width: 100%;
	clear: both;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #3e4150;
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/background.jpg);
}

#page
{
	position: relative;
	width: 1260px;
	margin: 0 auto;
	background-color: transparent;
	text-align: left;
	clear: both;
}

#header
{
	position: relative;
	width: 100%;
	clear: both;
	height: 119px;
	z-index: 12;
	background-color: black;
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/header-bg.png);
	background-position: top;
	background-repeat: repeat-x;
	box-shadow: 10px 0 10px black;

}

#logo img
{
	width: 330px;
	height: 65px;
}

#language-bar
{
	display: none;
}

#header-content
{
	position: relative;
	margin: 0 auto;
	width: 1260px;
}

#navigation
{
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 5;
	width: auto;
	background-color: transparent;
	margin: 0;
	box-shadow: 0 -4px 4px -4px #dadce1;
}

#navigation > li > a
{
	display: block;
	background-color: #186ffc;
	text-shadow: 0 -1px 0px rgba(0,0,0,0.5);
	color: white;
	text-shadow: 0 -1px 0px #096be9;
	color: white;
	padding: 7px 0;
	font-size: 14px;
	line-height: 14px;
	background: -webkit-gradient(linear, left top, left bottom, from(#308ff5), to(#186ffc));
	background: -moz-linear-gradient(top, #308ff5, #186ffc);
	background: -o-linear-gradient(top, #308ff5, #186ffc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#308ff5', endColorstr='#186ffc');
}

#navigation > li:first-of-type > a
{
	border-radius: 4px 0 0 0; -webkit-border-radius: 4px 0 0 0; -moz-border-radius: 4px 0 0 0;
}

#navigation > li:last-of-type > a
{
	border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; -moz-border-radius: 0 4px 0 0;
}

#navigation > li > a > span
{
	display: block;
	margin: 0;
	padding: 6px 12px 5px;
	border-left: 1px solid #4094f9;
	border-right: 1px solid #1965d4;
}

#navigation > li > a.on > span,
#navigation > li > a.on:hover > span
{
	border: none;
}

#navigation > li:first-of-type > a > span
{
	border-left: 1px solid transparent;
}

#navigation > li:first-of-type > a.on > span
{
	border-left: none;
}

#navigation > li:last-of-type > a > span
{
	border-right: none;
}

#navigation > li a:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#202020));
	background: -moz-linear-gradient(top,  #404040,  #202020);
	background: -o-linear-gradient(top,  #404040,  #202020);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#202020');
	text-shadow: 0 -1px 0px black;
}

#navigation > li > a:hover > span
{
	border: 1px solid #303030;
	border-top: none;
	border-bottom: none;
}

#navigation > li > a.on
{
	background-image: none;
	background-color: white;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#e1e1e1));
	background: -moz-linear-gradient(top,  #fcfcfc,  #e1e1e1);
	background: -o-linear-gradient(top,  #fcfcfc,  #e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e1e1e1');
	color: #101010;
	text-shadow: 0 1px 1px white;
}

#content h1
{
	margin: 0 0 0 -345px;
	width: 940px;
	padding: 10px;
	font-size: 20px;
}

#content
{
	position: relative;
	float: left;
	clear: both;
	min-height: 600px;
	width: 960px;
	margin: 0;
	padding: 0;
	background-color: white;
	background-image: url(http://static.eurogamer.net/img/EurogamerPage/sidebar.png);
	background-repeat: repeat-y;
	z-index: 5;
	overflow: none;
	box-shadow: 0 0 30px rgba(0,0,0,0.25);
}

div.content
{
	position: relative;
	float: right;
	width: 600px;
	padding: 0 15px 15px;
}

#sidebar
{
	position: relative;
	float: left;
	width: 300px;
	margin: 45px 0 15px 0;
	padding: 0 15px;
	list-style: none;
	font-family: Proxima, sans-serif;
	font-size: 14px;
}

#sidebar li
{
	clear: both;
	padding: 15px 0 0;
}

#sidebar li.about
{
	padding-top: 10px;
}

#sidebar li.search form input
{
	width: 233px;
	padding: 5px;
	clear: none;
}

#sidebar li.search form input[type=submit]
{
	width: 50px !important;
	margin-left: 5px;
	padding: 5px 10px 6px;
	height: 27px;
}

#leaderboard
{
	position: relative;
	clear: both;
	width: 1260px;
	margin: 0 auto;
	padding: 0;
	text-align: right;
	min-height: 110px;
}

.leaderboard
{
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

.leaderboard img,
.leaderboard object,
.leaderboard embed
{
	display: block;
	text-align: center;
	margin: 0 auto;
}

#skyscraper
{
	position: relative;
	display: block;
	float: right;
	right: 0px;
	width: 300px;
	min-height: 600px;
	z-index: 5;
}

/* ---- Search ----------------------------------- */

#search
{
	position: absolute;
	display: block;
	right: 0;
	top: 88px;
	width: 293px;
	height: 28px;
	z-index: 4;
}

#search input[type=text]
{
	width: 228px;
}

#search input
{
	display: block;
	float: left;
	clear: none;
	padding: 6px 5px;
	margin: 0;
	border: 0;
	box-shadow: inset 0 0 10px #b0b0b0;
	border-radius: 5px 0 0 5px;
	-moz-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}

#search input[type=submit]
{
	box-shadow: none;
	border-radius: 0 5px 5px 0;
	-moz-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	width: 55px;
	padding: 7px 0;
}

ul#articles
{
	position: relative;
	margin: 0;
	padding: 0;
	width: 720px;
	list-style: none;
}

/* ---- Promos ----------------------------------- */

ul#promos
{
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	width: 630px;
}

ul#promos li
{
	position: relative;
	float: left;
	margin: 10px 0;
	padding: 0;
	font-weight: bold;
	color: #b0b0b0;
	width: 209px;
	height: 63px;
	text-align: left;
	border-left: 1px solid #f7f8fb;
	border-right: 1px solid #e6e8ee;

}

ul#promos li:nth-child(1)
{
	border-left: 0;
}

ul#promos li:nth-child(2)
{
	border-right: 0;
}

ul#promos li h2
{
	display: block;
	clear: both;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 0px white;
}

ul#promos li p
{
	font-size: 11px;
	font-family: Verdana, sans-serif;
	line-height: 15px;
	margin: 1px 0 0;
	padding: 0;
	color: #404040;
	font-weight: normal;
	text-shadow: 0 1px 0px white;
}

ul#promos li h2,
ul#promos li p
{
	margin-left: 10px;
	margin-right: 10px;
}

ul#promos li#boom-box
{
	float: left;
	width: 206px;
	height: 83px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: none;
	background-position: top left;
}

ul#promos li#boom-box div
{
	position: absolute;
	display: block;
	bottom: 7px;
	left: 10px;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
}

ul#promos li#boom-box a
{
	display: block;
	position: absolute;
	bottom: 7px;
	left: 10px;
	right: 10px;
	background-color: black;
	color: white;
	box-shadow: 0 0 4px #909090;
	text-align: center;
	padding: 4px 0;
	opacity: 0.9;
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
}

ul#promos li#boom-box span
{
	display: block;
	float: left;
	background-color: black;
	font-weight: normal;
	margin: 0 4px 0 0;
	padding: 2px;
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
	line-height: 14px;
	font-size: 14px;
}

ul#promos li#boom-box span span
{
	display: block;
	float: none;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: white;
	opacity: 1;
}

ul#promos li#boom-box span span.period
{
	font-size: 10px;
	line-height: 10px;
	color: #c0c0c0;
}

/* ---- Login box -------------------------------- */

#account form#login
{
	position: absolute;
	display: none;
	float: left;
	clear: both;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	top: 45px;
	right: 15px;
	background-color: white;
	margin: 0;
	width: 258px;
	padding: 10px 0 10px 10px;
	border: 10px solid black;
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
	z-index: 5;
}

#account img.pop-arrow {
	position: absolute;
	top: -27px;
	left: 0px;
	width: 20px;
	height: 15px;
	background: none;
	border: none;
}

#account form#login fieldset
{
	width: 50%;
	float: left;
	clear: none;
}

#account form#login strong
{
	display: block;
	float: left;
	font-weight: bold;
	color: black;
	margin-bottom: 12px;
}

#account form#login input
{
	display: block;
	float: left;
}

#account form#login label,
#account form#login input
{
	display: block;
	float: left;
	clear: none;
}

#account form#login label
{
	clear: left;
	font-size: 13px;
	font-weight: bold;
	padding: 0;
	text-align: left;
	color: #595b63;
}

#account form#login input
{
	float: left;
	width: 114px;
	padding: 4px 2px;
	margin: 0;
	margin-bottom: 4px;
}

#account form#login div.facebook-login
{
	position: absolute;
	top: 10px;
	right: 10px;
}

#account form#login input[type=submit]
{
	margin: 5px 0 0 0;
	padding: 5px 6px 4px;
	width: auto;
}

#account form#login a.forgotten
{
	display: block;
	float: left;
	clear: none;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	padding: 8px 0 0 7px;
}

#account div.buttons
{
	margin: 0;
	padding: 0 8px;
	width: 270px;
	text-align: center;
}

#account div.buttons a.tool
{
	padding: 6px;
	margin-top: 13px;
}

#account div.buttons div#fb-login
{
	display: block;
	clear: both;
	float: left;
	margin: 8px 0 0 0;
}

#footer ul
{
	width: 1245px;
	margin: 0 auto;
}

.notifier p
{
	position: relative;
	max-width: 940px;
}

.notifier a.tool.plain
{
	position: absolute;
	top: 12px;
	left: 965px;
}

.notifier div
{
	width: 1240px;
	padding: 0 10px;
}

