#reply-box #comment-form
{
	width: 605px;
}

#reply-box .closed
{
	background-position-x: 180px;
	margin: 10px 0;
	padding-top: 10px;
	padding-left: 335px;
	width: 660px;
}

#comments
{
	width: 600px;
}

#comments > li.comment.verified
{
	width: 620px;
}
