#content div.content ul.list li.thread-header span.col1
{
	width: 157px;
}

#content div.content ul.list li.thread-header span.col1,
#content div.content ul.list li.thread span.col1
{
	width: 166px;
	padding-left: 26px;
}

#content div.content ul.list li.thread-header span.col2,
#content div.content ul.list li.thread span.col2
{
	width: 128px;
}

#content div.content ul.list li.thread-header span.col3,
#content div.content ul.list li.thread span.col3
{
	width: 198px;
}

#content div.content ul.list li.thread-header span.col4,
#content div.content ul.list li.thread span.col4
{
	width: 48px;
}
/*
     FILE ARCHIVED ON 09:47:44 Oct 17, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:16:48 Aug 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 15.284 (3)
  LoadShardBlock: 171.309 (3)
  RedisCDXSource: 3.111
  captures_list: 193.849
  load_resource: 35.831
  PetaboxLoader3.datanode: 150.568 (4)
  exclusion.robots: 0.209
  esindex: 0.008
  exclusion.robots.policy: 0.188
*/