#content div.content ul.list li.thread-header span.col1
{
	width: 157px;
}

#content div.content ul.list li.thread-header span.col1,
#content div.content ul.list li.thread span.col1
{
	width: 166px;
	padding-left: 26px;
}

#content div.content ul.list li.thread-header span.col2,
#content div.content ul.list li.thread span.col2
{
	width: 128px;
}

#content div.content ul.list li.thread-header span.col3,
#content div.content ul.list li.thread span.col3
{
	width: 198px;
}

#content div.content ul.list li.thread-header span.col4,
#content div.content ul.list li.thread span.col4
{
	width: 48px;
}
