div.viewer {
	text-align: center;
}
img.shotz {
	border: 5px solid #000000;
	margin: 20px;
}

.imgGallery {
	width: 85%;
	padding: 0px 5px; 
	padding-top: 2px;
	margin: 10px 43px;
}

.imgGallery img {
	margin-right: 2px;
	margin-bottom: 2px;
}
h2 {
	background-color: transparent;
}

