#content form textarea
{
	margin: 0 0 5px 0;
}

/* ---- Low leaderboard -------------------------- */

#low-leaderboard
{
	position: relative;
	clear: both;
	width: 960px;
	padding: 15px 0;
	background-color: white;
	margin: 0;
	border-top: 5px solid #eff1f7;
	z-index: 4;
	text-align: center;
}

.low-leaderboard
{
	float: none;
	width: 728px;
	height: 90px;
	margin: 0 auto;
	text-align: center;
}

/* ---- Related stories -------------------------- */

#content div.related
{
	float: right;
	clear: none;
	width: 600px;
	margin: 0 0 15px 0;
}

body a.newsletter-promo
{
	width: 600px;
}
/*
     FILE ARCHIVED ON 23:07:05 Aug 20, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:08:50 Aug 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.176
  CDXLines.iter: 12.748 (3)
  esindex: 0.012
  load_resource: 276.415
  RedisCDXSource: 1.584
  PetaboxLoader3.datanode: 185.712 (5)
  captures_list: 210.494
  PetaboxLoader3.resolve: 252.743 (2)
  LoadShardBlock: 192.11 (3)
  exclusion.robots: 0.191
*/